/*
 * Variables
 */

$sdBaseSize: 1rem;

:root {
  /* Size Scale */
  --s-300: #{$sdBaseSize * 0.75};
  --s-400: #{$sdBaseSize};
  --s-500: #{$sdBaseSize * 1.33};
  --s-600: #{$sdBaseSize * 1.77};
  --s-700: #{$sdBaseSize * 2.36};
  --s-800: #{$sdBaseSize * 3.15};
  --s-900: #{$sdBaseSize * 4.2};
  --s-major: #{$sdBaseSize * 5.6};

  /* Leading */
  --l-flat: 1;
  --l-tight: 1.1;
  --l-medium: 1.4;
  --l-loose: 1.6;

  /* Fonts */
  --f-primary: 'Ideal Sans SSm A', 'Ideal Sans SSm B', system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif;
  --f-secondary: 'Verlag Cond A', 'Verlag Cond B', system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif;
  --f-mono: 'JetBrains Mono', monospace;
  --f-caps: 'Ideal Sans SSm SmallCaps A', 'Ideal Sans SSm SmallCaps B', system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif;

  /* Measurements */
  --m-reg: 45rem;
  --m-lg: 50rem;
  --m-xl: 65rem;

  /* Misc */
  --m-radius: 0.3rem;
  --t-timing: 200ms;
  --t-easing: ease;
}

/* Media Queries */
$sm: '(min-width: 36em)';
$md: '(min-width: 40em)';
$lg: '(min-width: 64em)';
$xl: '(min-width: 90em)';
