/*
 * Variables
 */

:root {
	--base-size: 1rem;

	/* Size Scale */
	--s-300: calc(var(--base-size) * 0.75);
	--s-400: var(--base-size);
	--s-500: calc(var(--base-size) * 1.33);
	--s-600: calc(var(--base-size) * 1.77);
	--s-700: calc(var(--base-size) * 2.36);
	--s-800: calc(var(--base-size) * 3.15);
	--s-900: calc(var(--base-size) * 4.2);
	--s-major: calc(var(--base-size) * 5.6);

	/* Leading */
	--l-flat: 1;
	--l-tight: 1.1;
	--l-medium: 1.4;
	--l-loose: 1.5;

	/* Fonts */

	--f-text: ff-real-text-pro, system, -apple-system, blinkmacsystemfont, avenir, sans-serif;
	--f-head: ff-real-headline-pro, system, -apple-system, blinkmacsystemfont, avenir, sans-serif;
	--f-mono: ui-monospace, sfmono-regular, sf mono, menlo, consolas, liberation mono, monospace;

	/* Measurements */
	--m-reg: 48rem;
	--m-lg: 55rem;
	--m-xl: 65rem;
	--m-xxl: 75rem;

	/* Misc */
	--t-timing: 300ms;
	--t-easing: ease;
}

/* Media Queries */

@custom-media --bp-medium (min-width: 40em);
@custom-media --bp-medium-max (max-width: 39.9em);
@custom-media --bp-large (min-width: 64em);
@custom-media --bp-xlarge (min-width: 90em);
@custom-media --bp-xxlarge (min-width: 100em);
