/*
 * Grid
 *
 */

.grid {
	--side-gutter: var(--s-500);
	--content-width: 40rem;
	--grid-columns: [wrapper-start] minmax(var(--side-gutter), 1fr) [container-start] minmax(auto, var(--content-width)) [container-end] minmax(var(--side-gutter), 1fr) [wrapper-end];

	align-items: start;
	display: grid;
	grid-auto-rows: max-content;
	grid-template-columns: var(--grid-columns);

	@media (--bp-large) {
		--grid-columns: [wrapper-start] 0.25fr [container-start ] 1fr [container-end wrapper-end];
	}
}

.grid--subgrid {
	--grid-columns: [container-start wide-content-start] minmax(var(--side-gutter), 1fr) [main-content-start sidebar-start] minmax(auto, var(--content-width)) [main-content-end sidebar-end] minmax(var(--side-gutter), 1fr) [wide-content-end container-end];

	@media (--bp-xlarge) {
		--grid-columns: [container-start wide-content-start] minmax(var(--side-gutter), 0.2fr) [main-content-start] repeat(4, minmax(auto, calc(var(--content-width) / 4))) [main-content-end ]  minmax(var(--side-gutter), 0.1fr) [wide-content-end] 0.1fr [sidebar-start] 18rem [sidebar-end] auto var(--side-gutter) [container-end];
	}
}
