/*
 * Wrapper
 */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--m-reg);
  padding-left: var(--s-600);
  padding-right: var(--s-600);
}

.wrapper--large {
  max-width: var(--m-xxl);
}
