/*
 * Entry Comments
 */

.entry-comments {
  border-top: 1px solid var(--c-border-line);
  margin-top: var(--s-600);
  padding-top: var(--s-600);
}

.logged-in-as {
  font-size: var(--s-400);
}

/* Heading with comment count */
#comments {
  display: none;
}

/* List of Comments */
.commentlist {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: var(--s-600);

  .comment {
    + .comment {
      border-top: 1px solid var(--c-border-line);
      margin-top: var(--s-600);
      padding-top: var(--s-600);
    }

    .children {
      border-left: 4px solid var(--c-border-line);
      list-style: none;
      margin-left: var(--s-900);
      margin-top: var(--s-600);
      padding-left: var(--s-400);
    }
  } 
}

/* Comment Body */
.comment-body {
  font-size: var(--s-400);
  padding-left: var(--s-900);
  position: relative;

  p + p {
    margin-top: var(--s-400);
  }
}


/* Comment Author */
.comment-author {
  align-items: center;
  display: flex;

  .fn {
    font-size: var(--s-500);
    font-style: normal;
    font-weight: 700;

    a {
      color: var(--c-heading);
      text-decoration-color: var(--c-link);;
    }
  }

  .says {
    display: none;
  }

  .avatar {
    border: 1px solid var(--c-border-line);
    height: var(--s-800);
    left: 0;
    margin-right: var(--s-300);
    position: absolute;
    top: 0;
    width: var(--s-800);
  }
}

/* Comment Meta Information */
.comment-meta {
  font-size: var(--s-400);
  margin-bottom: var(--s-500);

  a {
    color: var(--c-text-alt);
    text-decoration: none;
  }
}

/* Reply */
.reply {
  margin-top: var(--s-400);
  text-align: right;

  a {
    color: var(--c-link);
  }
}

/* Comment Form */
.comment-respond {
  border-radius: var(--m-radius);
  background-color: var(--c-bg-alt);
  padding: var(--s-600);



  #cancel-comment-reply-link {
    margin-left: var(--s-400);
  }
}

.comment-reply-title {
  color: var(--c-heading);
  margin-bottom: var(--s-300);
}

.comment-notes {
  font-size: var(--s-400);
}

.comment-form {
  > * + * {
    margin-top: var(--s-400);
  }

  label {
    font-size: var(--s-400);
    font-weight: 700;
    line-height: var(--l-tight);
  }

  textarea {
    appearance: none;
    background-color: var(--c-input-bg);
    border: 0;
    border-radius: var(--m-radius);
    color: var(--c-text);
    display: block;
    font-size: var(--s-400);
    padding: var(--s-300);
    resize: none;
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 2px var(--c-accent);
      outline: 0;
    }
  }
}

.comment-form-cookies-consent {
  label {
    font-size: var(--s-300);
  }
}

#webmention-form,
.comment-form {
  input[type='submit'] {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--c-accent);
    border-radius: var(--m-radius);
    color: var(--c-accent);
    cursor: pointer;
    display: inline-block;
    font-size: var(--s-400);
    font-weight: 700;
    padding: 0.5rem 0.8rem;
  }

  input[type='text'],
  input[type='url'] {
    appearance: none;
    background-color: var(--c-input-bg);
    border: 0;
    border-radius: var(--m-radius);
    color: var(--c-text);
    display: block;
    font-size: var(--s-400);
    padding: var(--s-300);
    width: 100%;

    &:focus {
      box-shadow: 0 0 0 2px var(--c-accent);
      outline: 0;
    }
  }
}

#webmention-form {
  margin-top: var(--s-600);

  > * + * {
    margin-top: var(--s-400);
  }

  p {
    line-height: var(--l-tight);
  }

  label {
    font-size: var(--s-400);
  }
}

/* Likes */
  .likes,
  .reposts {
    display: flex;
    align-items: center;
    margin-bottom: var(--s-600);

    h3 {
      color: var(--c-text-accent);
      font-family: var(--f-caps);
      font-size: var(--s-400);
    }

    .mention-list {
      margin: 0;
      margin-left: var(--s-400);
      padding: 0;
      display: flex;
      align-items: center;

      .webmention {
        + .webmention {
          margin-left: -0.75rem;
          transition: margin-left var(--t-timing) var(--t-easing);
        }
      }

      .avatar {
        width: var(--s-600);;
        height: var(--s-600);;
        border-radius: 50%;
        border: 1px solid var(--c-border-line);
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
      
      .webmention + .webmention {
        margin-left: 0;
      }
    }
  }

::placeholder {
  color: var(--c-text-alt);
}
