/*
 * Entry
 * - styles for entries
 */

.entry__header {
  margin-bottom: var(--s-700);

  > * + * {
    margin-top: var(--s-300);
  }
}

.entry__taxonomy {
  font-size: var(--s-400);
  line-height: var(--l-flat);

  @media #{$md} {
    font-size: var(--s-300);
  }

  a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }

  > * + * {
    margin-left: var(--s-300);
  }
}

.entry__title {
  font-family: var(--f-secondary);
  font-size: var(--s-800);
  font-weight: 800;
  line-height: var(--l-flat);

  @media #{$md} {
    font-size: var(--s-900);
  }

  a {
    color: var(--c-heading);
    text-decoration: none;
  }
}

.entry__subtitle {
  color: var(--c-text);
  font-family: var(--f-primary);
  font-size: var(--s-600);
  font-weight: 400;
  letter-spacing: -0.063rem;
  line-height: var(--l-medium);
}

.entry__meta {
  line-height: var(--l-flat);
}

.entry__date {
  color: var(--c-text-alt);
  font-family: var(--f-caps);
  font-size: var(--s-400);
  text-decoration: none;
}

.entry__date-arrow {
  color: var(--c-accent-alt);
  margin-right: 0.5rem;
  position: relative;
  top: 0.07em;
}

.entry__star-rating {
  fill: var(--c-border-line);
  margin-top: var(--s-700);
  width: 8rem;

  .star--filled {
    fill: var(--c-accent);
  }
}

.entry__featured-image {
  margin-bottom: var(--s-600);
  margin-top: var(--s-600);

  @media #{$md} {
    margin-left: 50%;
    max-width: 50rem;
    transform: translateX(-50%);
    width: 100vw;

    img {
      width: 100%;
    }
  }
}

.entry__featured-image-caption {
  color: var(--c-text-alt);
  font-size: var(--s-400);
  margin-top: var(--s-400);
  
  @media #{$md} {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--m-reg);
    padding-left: var(--s-600);
    padding-right: var(--s-600);
  }
}

.entry__content {
  > * + * {
    margin-top: var(--s-500);
  }

  & .has-drop-cap:not(:focus)::first-letter {
    color: var(--c-text-accent);
    font-family: var(--f-secondary);
    font-size: 5.4em;
    font-weight: 800;
  }

  h2 {
    margin-top: var(--s-900);
  }

  h3 {
    margin-top: var(--s-800);
  }
}

.entry__footer {
  margin-top: var(--s-600);
}

.entry__syndicated {
  font-size: var(--s-400);

  a {
    display: inline-flex;
    line-height: var(--l-flat);
  }

  svg {
    fill: var(--c-accent-alt);
    height: 0.9em;
    margin-left: 0.2rem;
    position: relative;
    top: 0.1em;
    width: 0.9em;
  }
}

// Entry Tags
.entry__tags {
  align-items: center;
  display: flex;
  font-size: var(--s-400);

  &:not(:first-child) {
    margin-top: var(--s-300);
  }

  svg {
    fill: var(--c-accent-alt);
    height: 0.9em;
    margin-right: 0.5rem;
    width: 0.9em;
  }

  a {
    color: var(--c-text-alt);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// More Link
.more-link {
  color: var(--c-text-alt);
  display: inline-block;
  font-family: var(--f-caps);
  font-size: var(--s-400);
  margin-top: var(--s-600);
  text-decoration: none;
}

.more-link__arrow {
  color: var(--c-accent-alt);
  color: var(--c-accent-alt);
  margin-left: 0.5rem;
  position: relative;
  top: 0.07em;
}
