/*
 * Page Header
 */

.page-header {
  border-bottom: 2px solid var(--c-border-line);
  margin-bottom: var(--s-500);
  padding-bottom: var(--s-300);
}

.page-header__title {
  font-size: var(--s-800);
  font-weight: 800;
  line-height: var(--l-tight);
}
