/*
 * Site ID
 * - short bio seen on the hompage
 */

.site-id {
  display: flex;
  flex-direction: column;
  position: relative;

  @media #{$md} {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
  }
}

.site-id__image {
  margin-bottom: var(--s-400);

  img {
    border: 1px solid var(--c-border-line);
    border-radius: var(--m-radius);
    max-width: var(--s-900);

    @media #{$md} {
      max-width: var(--s-800);
    }
  }

  @media #{$md} {
    margin-bottom: 0;
    margin-right: var(--s-400);
  }
}

.site-id__info {
  line-height: var(--l-flat);
}

.site-name {
  font-family: var(--f-primary);
  font-size: var(--s-600);
  letter-spacing: 0.6px;
  letter-spacing: -0.063rem;
  margin-bottom: 0.15rem;

  @media #{$md} {
    font-size: var(--s-500);;
  }

  a {
    color: var(--c-heading);
    text-decoration: none;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.site-pronouns {
  color: var(--c-accent-alt);
  font-family: var(--f-caps);
  font-size: var(--s-500);
  font-weight: 400;

  @media #{$md} {
    font-size: var(--s-400);
  }
}

.site-bio {
  color: var(--c-text-alt);
  font-size: var(--s-500);

  @media #{$md} {
    font-size: var(--s-400);
  }
}
