/*
 * Site Nav
 */

.site-nav {
  margin-top: var(--s-600);
  
  @media #{$md} {
    margin-top: var(--s-400);
  }
}

.site-nav__menu {
  display: flex;
  line-height: var(--l-flat);
  list-style: none;
  margin: 0;
  padding: 0;

  li + li {
    margin-left: var(--s-500);

    @media #{$md} {
      margin-left: var(--s-300);
    }
  }

  a {
    border-bottom: 2px solid transparent;
    color: var(--c-text);
    display: block;
    font-size: var(--s-500);
    font-weight: 700;
    text-decoration: none;
    transition: 
      border-color var(--t-timing) var(--t-easing),
      color var(--t-timing) var(--t-easing);
    
    @media #{$md} {
      font-size: var(--s-400);
    }
    
    &[aria-current='page'],
    &:hover,
    &:focus {
      border-color: var(--c-link);
      color: var(--c-link);
    }
  }
}
