/*
 * About Cover
 *
 */

.about-cover {
  display: flex;
  justify-content: center;
  margin-bottom: var(--s-800);
  margin-top: calc(var(--s-600) * -1);

  & img {
    border-radius: 0;
    max-width: 1440px;

    @media (--bp-xlarge) {
      border-bottom-left-radius: var(--m-radius);
      border-bottom-right-radius: var(--m-radius);
    }
  }
}
