/*
 * Button
 */

.button {
	border: 1px solid var(--c-accent);
	color: var(--c-accent);
	display: inline-block;
	font-size: var(--s-500);
	line-height: var(--l-flat);
	padding: 0.5rem var(--s-400);
	text-decoration: none;
	transition: background-color var(--t-timing) var(--t-easing);

	@media (--bp-medium) {
		font-size: var(--s-400);
	}

	&:hover,
	&:focus {
		background-color: var(--c-bg-alt);
	}
}

.wp-block-button__link {
	padding: 0.5rem var(--s-400) !important;
}

.is-style-outline .wp-block-button__link {
	color: var(--c-accent) !important;
}
