/*
 * Last FM
 *
 */

.recently-played__title {
  align-items: center;
  display: flex;
  font-family: var(--f-caps);
  font-size: var(--s-500);

  & svg {
    fill: var(--c-accent-alt);
    height: 0.6em;
    margin-left: 0.5rem;
    width: 0.6em;
  }
}

.recently-played__list {
  display: flex;
  flex-direction: column;
  gap: var(--s-400);
  list-style-type: none;
  margin: 0;
  margin-top: var(--s-400) !important;
  padding: 0;
}

.track {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  position: relative;

  &:hover,
  &:focus {

    & .track__title,
    & .track__artist {
      color: var(--c-link);
    }

    & .track__media {
      opacity: 0.6;
    }
  }
}

.track__media {
  flex: 0 0 auto;
  height: var(--s-900);
  transition: opacity var(--t-timing);
  width: var(--s-900);

  & img {
    border: 1px solid var(--c-border-line);
  }
}

.track__title {
  color: var(--c-text);
  font-family: var(--f-primary);
  font-size: var(--s-400);
  transition: color var(--t-timing);
}

.track__artist {
  color: var(--c-text-alt);
  font-size: var(--s-400);
  transition: color var(--t-timing);
}

.track__link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
