/*
 * Photo Grid
 */

.photo-grid {
	--photo-grid-gap: calc(var(--base-size) * 0.3);

	display: grid;
	grid-column: container;
	grid-gap: var(--photo-grid-gap);
	grid-template-columns: repeat(3, 1fr);

	@media (--bp-large) {
		grid-column-start: main-content;
	}

	@media (--bp-xlarge) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.photo-grid__card {
	overflow: hidden;
	position: relative;

	@media (--bp-medium-max) {
		border-radius: 0;
	}

	&:hover,
	&:focus {

		& img {
			transform: scale(1.1);
		}
	}

	& img {
		transition: transform var(--t-timing) var(--t-easing);

		@media (--bp-medium-max) {
			border-radius: 0;
		}
	}

	& a {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}

	& svg {
		bottom: var(--s-400);
		fill: #fff;
		height: var(--s-500);
		left: var(--s-400);
		position: absolute;
		width: var(--s-500);
	}
}
