/*
 * Post Image
 */

.wp-block-image {
	display: contents;

	& img {
		grid-column: main-content;
		margin-top: var(--s-500);
	}

	& figcaption {
		color: var(--c-text-alt);
		font-size: var(--s-400);
		grid-column: main-content;
		margin-bottom: 0;
		margin-top: var(--s-400);
	}

	&.alignwide {

		& img {
			grid-column: wide-content;
		}
	}

	& .alignleft,
	& .alignright {
		display: flex;
		float: none;
		grid-column: wide-content;
		margin: 0;
		margin-top: var(--s-500);

		& img {
			margin-top: 0;
			width: 50%;

			@media (--bp-large) {
				width: 70%;
			}
		}

		& figcaption {
			display: block;
			margin-top: 0;
			padding: 0 var(--s-600);
		}
	}

	& .alignright {
		flex-direction: row-reverse;
	}

	&.alignfull,
	& .alignfull {

		& img {
			grid-column: wide-content-start / -1;
		}
	}
}
