/*
 * SimpleToc Styles
 *
 */

.is-style-simpletoc-wrapper {
	background-color: var(--c-bg-alt);
	border-left: 3px solid var(--c-accent);
	font-size: var(--s-400);
	margin-bottom: var(--s-500);
	margin-top: var(--s-500);
	padding: var(--s-600);
	position: relative;
	z-index: 2;

	@media (--bp-large) {
		/* grid-column-end: span 2; */
	}

	@media (--bp-xxxlarge) {
		align-self: start;
		grid-column: sidebar;
		grid-row: span 300;
	}
}

.simpletoc-title {
	font-size: var(--s-400);
	margin-bottom: var(--s-400);
	margin-top: 0 !important;
}

.simpletoc {
	margin-bottom: 0;
	padding-left: var(--s-600);

	& li + li {
		margin-top: 0.4rem;
	}

	& a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
