/*
 * Site Header
 */

.site-header {
	grid-column: container;
	padding-bottom: var(--s-400);
	padding-top: var(--s-400);

	@media (--bp-medium) {
		grid-column: wrapper-start / container-start;
		padding-bottom: var(--s-900);
		padding-top: var(--s-700);
	}
}

.site-header__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-column: main-content;
	justify-content: space-between;
	position: relative;
}

.home {

	& .site-header {

		@media (--bp-medium-max) {
			padding-bottom: var(--s-900);
		}
	}

	& .site-header__wrapper {
		align-items: flex-start;
	}
}
