/*
 * Site Header
 */

.site-header {
	grid-column: container;
	padding-bottom: var(--s-400);
	padding-top: var(--s-400);

	@media (--bp-medium) {
		background: var(--c-bg-alt);
		grid-column: wrapper-start / container-start;
		min-width: 15rem;
		padding-bottom: var(--s-900);
		padding-left: var(--s-600);
		padding-right: var(--s-700);
		padding-top: var(--s-700);
	}
}

.site-header__wrapper {
	align-items: center;
	display: flex;
	grid-column: main-content;
	justify-content: space-between;
	position: relative;

	@media (--bp-medium) {
		align-items: flex-start;
		flex-direction: column;
		gap: var(--s-500);
		margin-left: auto;
		max-width: 16rem;
	}
}

.home {

	& .site-header__wrapper {
		align-items: flex-start;
	}
}
