/*
 * Site Nav
 */

.site-navigation-is-open {
	overflow: hidden;
}

.site-nav {
	position: relative;
}

.site-nav__toggle {
	align-items: center;
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--c-text-alt);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0.4rem;
	position: relative;
	transform: rotate(0deg) scale(1);
	transition:
		border var(--t-timing) var(--t-easing),
		transform var(--t-timing) var(--t-easing);
	z-index: 60;

	& svg {
		fill: var(--c-text-alt);
		height: var(--s-500);
		transition: fill var(--t-timing) var(--t-easing);
		width: var(--s-500);
	}

	&.site-nav__toggle--active {
		border: 2px solid var(--c-accent);
		transform: rotate(90deg) scale(1.4);

		& svg {
			fill: var(--c-accent);
		}
	}
}

/* Align the toggle with the center of the
 site image on the homepage */

.home .site-nav__toggle {
	margin-top: 0.7rem;
}

.site-nav__menu {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateY(5%);
	transition:
		transform var(--t-timing) var(--t-easing) var(--t-timing),
		opacity var(--t-timing) var(--t-easing) var(--t-timing);
	visibility: hidden;
	z-index: 50;

	&[aria-hidden="false"] {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0);
		visibility: visible;
	}
}

.site-nav__scrim {
	backdrop-filter: blur(10px);
	background-color: var(--c-nav-scrim);
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity var(--t-timing) var(--t-easing);
	z-index: 40;

	&.site-nav__scrim--active {
		opacity: 1;
	}
}

.site-nav__list {
	line-height: var(--l-flat);
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	& li + li {
		margin-top: var(--s-500);
	}

	& a {
		border-bottom: 2px solid transparent;
		color: var(--c-text);
		display: inline-block;
		font-size: var(--s-700);
		font-weight: 700;
		text-decoration: none;
		transition:
			border-color var(--t-timing) var(--t-easing),
			color var(--t-timing) var(--t-easing);

		@media (--bp-medium) {
			font-size: var(--s-700);
		}

		&[aria-current="page"],
		&:hover,
		&:focus {
			border-color: var(--c-link);
			color: var(--c-link);
		}
	}
}
