/*
 * Site Header
 */

.site-header {
  margin-bottom: var(--s-800);
  margin-top: var(--s-500);

  @media (--bp-medium-max) {
    border-bottom: 1px solid var(--c-border-line);
    padding-bottom: var(--s-400);
  }
}

.site-header__wrapper {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  @media (--bp-medium) {
    display: flex;
  }

  & .button {

    @media (--bp-medium-max) {
      position: absolute;
      right: var(--s-600);
      top: var(--s-300);
    }
  }
}
