/*
 * Video
 */

.wp-block-embed {
	margin-bottom: var(--s-600);
	margin-top: var(--s-700);

	& iframe {
		border-radius: var(--m-radius);
	}

	& figcaption {
		color: var(--c-text-alt);
		font-size: var(--s-400);
		margin-top: var(--s-400);
	}
}

.wp-block-video {

	& video {
		border-radius: var(--m-radius);
	}
}
