/*
 * WP Block Gallery
 */

.wp-block-gallery {
	--gallery-grid-gap: calc(var(--base-size) * 0.3);

	gap: var(--gallery-grid-gap) !important;

	& .blocks-gallery-grid {
		gap: var(--gallery-grid-gap) !important;
	}

	& .blocks-gallery-item {
		margin: 0 !important;
	}

	& img {
		margin: 0;
	}

	&:not(:first-child) {
		margin-top: var(--s-500);
	}
}
