.wp-block-code {
	background: var(--c-code-block-bg);
	border: 0;
	color: var(--c-text);
	font-family: var(--f-mono);
	grid-column: wide-content;
	outline: 0;
	overflow-x: auto;
	tab-size: 2;

	& code {
		background: none;
		padding: 0;
		tab-size: 2;
		white-space: pre;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
	}

	&[class*="language-"] {
		background: var(--c-code-block-bg);
		border-radius: 0;
		margin: 0;
		padding: var(--s-500);
		position: relative;

		&:not(:first-child) {
			margin-top: var(--s-500);
		}

		@media (--bp-large) {
			padding: var(--s-500) var(--s-700);
		}
	}
}
